@model ApnaDhaba.Api_Models.UserModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .default {
        border-color: #F28123;
        color: #F28123;
             }

    .default:hover {
            background-color: #F28123;
            color: white;
                   }
</style>
<body style="overflow:hidden">
    <div class="container d-flex justify-content-end" style="padding-top:50px; padding-right:20px">
    </div>

    <div class="row">
        <a asp-action="Login" asp-controller="Auth">
            <i style="font-size:36px; color:black; padding-left:40px;" class="fa">&#xf0a8;</i>
        </a>
        <div class="col" style="padding-left:35px">
            <img src="~/img/Reset password-cuate.png" width="572px" height="572px" />
        </div>
        <div class="col" style="padding-right:55px">
            <h4 style="font-family:Poppins,sans-serif; font-weight:520; font-size:3rem">
                <b>
                    Confirm
                    <span style="color:#F28123; font-family:Poppins,sans-serif font-weight:520; font-size:3rem;">
                        User Details
                    </span>
                </b>
            </h4>
            @{
                if (TempData["NotFoundForgot"] != null)
                {
                    <div class="col-lg-9 alert alert-danger" role="alert">
                        @TempData["NotFoundForgot"]
                    
                    </div>
                }
            }
            <br />
            <form class="form-control d-grid" method="post">
                <br />
                <label asp-for=Username class="form-label"><b>Username</b></label>
                <input asp-for=Username type="text" class="form-control" placeholder="Enter Username" />
               <span asp-validation-for="Username" style="color:red"></span>
                <input asp-for=Firstname type="hidden" class="form-control" value="forget" />
             
                <input asp-for=Lastname type="hidden" class="form-control" value="forget"   />
               
                <input asp-for=Password type="hidden" class="form-control" value="Forget@1234" />
                
                <input asp-for=CreateDate type="hidden" class="form-control" value=@DateTime.Now />
                <br />
                <input type="submit" class="btn default btn-block" value="Confirm the user" />
                <br />
            </form>
            <br />
            @{
                if (TempData["userConfirmed"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Confirmed !!!</h4>
                        <p>User Successfully Confirmed . You can proceed to resetting your password </p>
                        <hr>
                        <p class="mb-0"><b>Password Are Securely Stored. </b> <i>(Encrypted by SHA512 Algorithm)</i> </p>
                    </div>

                    <br />

                    <form class="d-grid" asp-action="Reset" asp-controller="Auth" method="get">
                        <input type="submit" class="btn btn-block btn-outline-success" value="Reset Password" />
                    </form>
                }
            }
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center" style="padding-right:34px">
        <p>
            <b>
                Crafted With
                <span style="color:#F28123; "><span style="color:#DC143C">&hearts; </span>by Jaimin</span>
            </b>
        </p>
    </div>
</body>