
@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- title -->
	<title>Apna Dhaba</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="~/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="~/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<style>
		.orange {
			border-color: #F28123;
			color: #F28123;
		}

			.orange:hover {
				background: #F28123;
				color: white;
			}
	</style>
</head>
<body>

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="img/apna_logo_zoom.png" alt="">
							</a>
						</div>
						<!-- logo -->
						@{
							if (TempData["Payment"] != null)
							{
								<div class="alert alert-success text-center justify-content-center" style="padding-top:10px" role="alert">
									@TempData["Payment"]
								</div>

							}
						}
						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li >
									<a asp-action="Index" asp-controller="Home">Home</a>
								</li>

								<li>
									<a asp-action="Menu" asp-controller="Home">Menu</a>
								</li>
								<li class="current-list-item"><a asp-action="About" asp-controller="Home">About</a></li>

								<li>
									<div class="header-icons">
										<a class="shopping-cart" asp-action="UserProfile" asp-controller="Home">
											<i class="fas fa-regular fa-user"></i>
										</a>
										@{
											if (ViewData["AuthUser"] != null)
											{
												<ul class="sub-menu">
													<li><a asp-action="UserProfile" asp-controller="Home">User Profile (<i>@ViewData["AuthUser"])</i></a></li>
													<li><a asp-action="LogOut" asp-controller="Home">Log Out</a></li>
												</ul>
											}
										}
										<a class="shopping-cart btn-link" asp-action="Cart" asp-controller="Home"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We provide The Real Dhaba Style Food just like the one you find on your Highway Journey</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="~/assets/images/WhatsApp Image 2024-04-27 at 17.32.04_51a92ab1.jpg" alt="owner">
							</div>
							<div class="client-meta">
								<h3>Jaimin Damor<span>Owner & Founder Of ApnaDhaba</span></h3>
								<p class="testimonial-body">
									"ApnaDhaba -a food website was fun to make , got to learn so many new things.Enjoyed making every single feature"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Sanjay Gauswami<span>Co-Owner</span></h3>
								<p class="testimonial-body">
									"Thala For Reason! !"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Imran Hossain<span>Template Designer</span></h3>
								<p class="testimonial-body">
									" Amazing Bootstrap Template created by Imran Hossain and I loved it , this makes website look great so thanks to him and visit his works at <br /><a href="https://themewagon.com/"><b><i>Themewagon</i></b> &hearts;</a> "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	<!-- footer -->
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>

						<p>ASP.NET Project By Jaimin Damor &copy;ApnaDhaba</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Gandhinagar</li>
							<li>iamjaimindamor</li>
							<li>+9196648922222</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Crafted With &hearts; in Gandhinagar By - <a href="https://github.com/iamjaimindamor">Jaimin Damor</a>

					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<!-- jquery -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="~/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/js/main.js"></script>
	@{
		if (TempData["Guest"] != null)
		{
			<script>

				window.onload = (event) => {
					setTimeout(myFunction, 50000);
				};


				function myFunction() {
					if (confirm("Press OK to Login or Cancel to Continue as Guest")) {

						window.location = "https://localhost:7049/auth/login"
					}

				};

			</script>
		}
	}
	<script>
		window.setTimeout(function () {
			$(".alert").fadeTo(500, 0).slideUp(500, function () {
				$(this).remove();
			});
		}, 2825);
	</script>


	@{
		if (TempData["LoggedOut"] != null)
		{
			<script>

				alert("User Logged Out ! ! !");
			</script>
		}
	}

</body>
</html>
