@model dualModel
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Shop</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <style>
        .orange {
            border-color: #F28123;
            color: #F28123;
        }

            .orange:hover {
                background: #F28123;
                color: white;
            }
    </style>
</head>
<body>

    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="img/apna_logo_zoom.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li >
                                    <a asp-action="Index" asp-controller="Home">Home</a>
                                </li>

                                <li class="current-list-item">
                                    <a asp-action="Menu" asp-controller="Home">Menu</a>
                                </li>
                                <li><a asp-action="About" asp-controller="Home">About</a></li>

                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" asp-action="UserProfile" asp-controller="Home">
                                            <i class="fas fa-regular fa-user"></i>
                                        </a>
                                        @{
                                            if (ViewData["AuthUser"] != null)
                                            {
                                                <ul class="sub-menu">
                                                    <li><a asp-action="UserProfile" asp-controller="Home">User Profile (<i>@ViewData["AuthUser"])</i></a></li>
                                                    <li><a asp-action="LogOut" asp-controller="Home">Log Out</a></li>
                                                </ul>
                                            }
                                        }
                                        <a class="shopping-cart btn-link" asp-action="Cart" asp-controller="Home"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search arewa -->
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Hot & Fresh</p>
                        <h1>Indian Menu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container">
            @{
                if (TempData["itemadded"] != null)
                {
                    <div class="alert alert-warning text-center justify-content-center" role="alert">
                        @TempData["itemadded"]
                    </div>
                }
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".Soup">Soup</li>
                            <li data-filter=".Starter">Starter</li>
                            <li data-filter=".Main-Course">Main Course</li>
                            <li data-filter=".Drinks">Refreshments</li>
                            @{
                                foreach (var i in Model.dualCatList)
                                {
                                    if (i.CategoryId > 4)
                                    {
                                                <li data-filter=".@i.Name">@i.Name</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
         
            <div class="row product-lists">
                @{
                            <partial name="_new" model="Model" />
                }
                <!-- end products -->
            </div>
        </div>
    </div>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>

                        <p>ASP.NET Project By Jaimin Damor &copy;ApnaDhaba</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>Gandhinagar</li>
                            <li>iamjaimindamor</li>
                            <li>+9196648922222</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Crafted With &hearts; in Gandhinagar By - <a href="https://github.com/iamjaimindamor">Jaimin Damor</a>

                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>

    <script>

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2825);
    </script>

</body>
</html>