
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<div class="pcoded-content">
    <div class="card borderless-card">
        <div class="card-block danger-breadcrumb">
            <div class="breadcrumb-header">
                <h5>Admin Dashboard</h5>
                <span>Hey! Welcome To ApnaOwner The Admin Dashboard</span>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Admin</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
